$black: #1E1E1E;
$white:#E4E5EA;
$grey:#656566;
$orange_gradient:linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
$red_gradient:linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
$blue:#4077F3;